# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Texstudio
doc/guides/pdf/*.toc
doc/guides/pdf/*.out
doc/guides/pdf/*.log
doc/guides/pdf/*.aux
doc/guides/pdf/*.synctex.gz

doc/guides/latex/*.toc
doc/guides/latex/*.out
doc/guides/latex/*.log
doc/guides/latex/*.aux
doc/guides/latex/*.synctex.gz
